<% if User.current.allowed_to?(:view_configuration_items, @project) %>

  <% items = ConfigurationItem.related_to(@issue) %>
  <% if items.present? %>

    <div id="configuration_items">
      <div class=contextual>
      <!--
      <% if User.current.allowed_to?(:manage_configuration_items, @project) %>
        <%= toggle_link l(:button_add), 'new-ci-relation-form', {:focus => 'related_ci_id'} %>
      <% end %>
      -->
      </div>

      <p><strong><%= l(:configuration_items) %></strong></p>

      <div class="related_configuration_items">
      <% items.each do |item| %>
        <%= link_to(h(item.name), item.url, :class => 'configuration_item') %>
      <% end %>
      </div>
    </div>

    <% content_for :header_tags do %>
      <%= stylesheet_link_tag 'style', :plugin => 'redmine_cmdb' %>
    <% end %>
  <% end %>

<% end %>
