<% @configuration_item_relations.each do |relation|
%><div class="configuration_item_box" id="configuration_item_relation_box_<%=relation.id%>">
  <% item = relation.configuration_item %>
  <p>
    <%= link_to_item(item, relation.downtime) %>
  </p>
</div><% end %>
